###################################################################
#                                                                 #
# It's example env file.                                          #
# You should rm '.example' from file name and add env values.     #
#                                                                 #
###################################################################

SPRING_APPLICATION_NAME=gateway-server
SPRING_PROFILES_ACTIVE=docker
CONSUL_HOST=consul