###################################################################
#                                                                 #
# It's example env file.                                          #
# You should rm '.example' from file name and add env values.     #
#                                                                 #
###################################################################

################################################
### This file is used only by docker-compose ###
################################################
#
SPRING_PROFILES_ACTIVE=docker
# grafana
GRAFANA_USER=<ENV VALUE>
GRAFANA_PASSWORD=<ENV VALUE>
# article-db
TYPOO_ARTICLE_DB_NAME=<ENV VALUE>
TYPOO_ARTICLE_DB_USERNAME=<ENV VALUE>
TYPOO_ARTICLE_DB_PASSWORD=<ENV VALUE>