###################################################################
#                                                                 #
# It's example env file.                                          #
# You should rm '.example' from file name and add env values.     #
#                                                                 #
###################################################################

SPRING_APPLICATION_NAME=article-service
SPRING_PROFILES_ACTIVE=dev
CONSUL_HOST=<ENV VALUE>
TYPOO_ARTICLE_DB_NAME=<ENV VALUE>
TYPOO_ARTICLE_DB_URL=<ENV VALUE>
TYPOO_ARTICLE_DB_USERNAME=<ENV VALUE>
TYPOO_ARTICLE_DB_PASSWORD=<ENV VALUE>